@model IEnumerable<TableEntity>

@{
    ViewBag.Title = "Список таблиц";
}

<h2>Список таблиц</h2>

<table class="table">
    <thead>
        <tr>
            <th>Имя банка</th>
            <th>Название таблицы</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var table in Model)
            {
                <tr>
                    <td>@table.BankName</td>
                    <td><a asp-area="" asp-controller="Excel" asp-action="GetTable" asp-route-tableId="@table.TableId">@table.TableName</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">Нет доступных таблиц.</td>
            </tr>
        }
    </tbody>
</table>